.header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-medium-grey;
}