body {
    background-color: antiquewhite;
}

.FLAG {
    margin: 1em;
    height: 180px;
    width: 270px;
    background-color: transparent;
    position: relative;
}

.german-top {
    height: 60px;
    background-color: black;
}

.german-middle {
    height: 60px;
    background-color: red;
}

.german-bottom {
    height: 60px;
    background-color: #FFCC00;
}

.france-flag {
    position: relative;
    top: 10px;
}

.france-left {
    width: 90px;
    height: 180px;
    background-color: #0055A4;
    float: left;
}

.france-middle {
    width: 90px;
    height: 180px;
    background-color: white;
    float: left;
}

.france-right {
    width: 90px;
    height: 180px;
    background-color: #EF4135;
    float: left;
}