body {
    background-color: antiquewhite;
}

.FLAG {
    margin: auto;
    height: 180px;
    width: 270px;
    background-color: transparent;
    position: relative;
}

/*French Flag*/

.french-flag {
    position: absolute;
}

.french-left {
    height: 180px;
    width: 90px;
    background-color: #0055A4;
    position: absolute;
    left: 0px;
    transition: 1s ease;
}

.french-middle {
    height: 180px;
    width: 90px;
    background-color: #FFFFFF;
    position: absolute;
    left: 90px;
    transition: 1s ease;
}

.french-right {
    height: 180px;
    width: 90px;
    background-color: #EF4135;
    position: absolute;
    left: 180px;
    transition: 1s ease;
}

/*Irish flag transition*/

.french-flag:hover .french-left {
    background-color: #169B62;
}

.french-flag:hover .french-middle {
    background-color: #FFFFFF;
}

.french-flag:hover .french-right {
    background-color: #FF883E;
}

/*German Flag*/

.german-flag {
    position: relative;
    top: 190px;
}

.german-top {
    height: 60px;
    width: 270px;
    background-color: #000000;
    transition: 1s ease;
}

.german-middle {
    height: 60px;
    width: 270px;
    background-color:#DD0000 ;
    transition: 1s ease;
}

.german-bottom {
    height: 60px;
    width: 270px;
    background-color: #FFCE00;
    transition: 1s ease;
}

/*Hungarian flag transition*/

.german-flag:hover .german-top {
    background-color: #CD2A3E;
}

.german-flag:hover .german-middle {
    background-color: #FFFFFF;
}

.german-flag:hover .german-bottom {
    background-color: #436F4D;
}