

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-body:'Ubuntu', sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 30px;

$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-large: 900;

$color-background: #1C1B29;
$color-calculator: #292841;

$color-numbutton: #4A4E6B;
$color-numbutton-font: #BED3FF;

$color-funcbutton: #503F50;
$color-funcbutton-font: #ED998D;

$color-acbutton: #919191;
$color-acbutton-font: #e1dfdc;

$color-button-shadow: #1C1B29;
$color-calculator-shadow: rgb(4, 0, 12);