@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

$font-family: 'Roboto Flex', sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 30px;

$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-large: 900;