

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-body:'Ubuntu', sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 30px;

$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-large: 900;